mat-card-title,
mat-card-content {
	display: flex;
	justify-content: center;
}

.button {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.input-fields {
	display: grid;
	gap: 30px;
	margin-bottom: 30px;
	width: 380px;
}
